In [1]:
# Dictionaries
D={'a':0,'b':1,'c':2}

print(D["a"])

print(D.keys())

0
dict_keys(['a', 'b', 'c'])

### Conditions and Branching

In [2]:
i = 1
i != 0

True

In [3]:
x = "a"
if (x == 'a'):
    print("this is a")
else:
    print("this is not a")

this is a

In [4]:
y = 8
x = 1
x > 0 and y <10

True

In [5]:
# Condition Equal

a = 5
print("a :",a == 6)
# Greater than Sign
i = 6
print("i : ",i > 5)

# Inequality Sign

j = 6
print("j :",j != 7)

a : False
i :  True
j : True

In [6]:
# Use Equality sign to compare the strings m, # Use Inequality sign to compare the strings

"ACDC" == "Michael Jackson" , "ACDC" != "Michael Jackson"

(False, True)

In [7]:
# Compare characters

'B' > 'A' , 'BA' > 'AB'

(True, True)

In [8]:

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [9]:

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [10]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [11]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [12]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

##### 1. There are 2 sisters, Annie and Jane, born in 1996 and 1999 respectively. They want to know who was born in a leap year. Write an if-else statement to determine who was born in a leap year.

In [13]:
Annie = 1996
Jane = 1999

if Annie/4 == 1 :
    print("Annie was born in a leap year")
else :
    print("Annie was not born in a leap year.")

if Jane/4 == 1 :
    print("Jane was born in a leap year")
else :
    print("Jane was not born in a leap year.")

Annie was not born in a leap year.
Jane was not born in a leap year.

##### 2. In a school canteen, children under the age of 9 are only given milk porridge for breakfast. Children from 10 to 14 are given a sandwich, and children from 15 to 17 are given a burger. The canteen master asks the age of the student and gives them breakfast accordingly. Sam's age is 10. Use if-else statement to determine what the canteen master will offer to him.

In [14]:
age = 10

if age < 9 :
    print("only given milk porridge for breakfast") 
elif 10 <= age <= 14 :
    print("10 to 14 are given a sandwich")
elif  15 <= age <= 17 :
    print("15 to 17 are given a burger. ")
else:
    print("not food")

10 to 14 are given a sandwich

### For Loops

In [15]:
A=[3,4,5]

for i in A:
    print (i)

3
4
5

In [16]:
# Use the range
range (3)

range(0, 3)

In [17]:
# loop enables you to execute a code block multiple times
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(i)

0
1
2

In [18]:
for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [19]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

1982
1980
1973

In [20]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

In [21]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

### While Loops

In [22]:
x = 11
y = 1

while (y != x):
    print(y)
    y = y + 1

1
2
3
4
5
6
7
8
9
10

In [23]:
count = 1
while count <= 5:
    print(count)
    count+= 1

1
2
3
4
5

In [25]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

In [28]:
for i in range(-4,5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

In [29]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

In [30]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.

In [34]:
print("Multipication table of 6")

for i in range(11):
    print("6 X ",i,"=",6*i)

print("Multipication table of 7")

for i in range(11):
    print("7 X ",i,"=",7*i)

Multipication table of 6
6 X  0 = 0
6 X  1 = 6
6 X  2 = 12
6 X  3 = 18
6 X  4 = 24
6 X  5 = 30
6 X  6 = 36
6 X  7 = 42
6 X  8 = 48
6 X  9 = 54
6 X  10 = 60
Multipication table of 7
7 X  0 = 0
7 X  1 = 7
7 X  2 = 14
7 X  3 = 21
7 X  4 = 28
7 X  5 = 35
7 X  6 = 42
7 X  7 = 49
7 X  8 = 56
7 X  9 = 63
7 X  10 = 70

Use while loop to iterate over the elements of the list. Use if-else statement inside the for loop to check the length of each element and if the length is 7, add the element to a new list.

In [35]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while i<len(Animals):
    j=Animals[i]
    if(len(j)==7):
        New.append(j)
    i=i+1
print(New)

['giraffe', 'gorilla', 'parrots']