In [7]:
Tuple1 = ("disco",10,1.2)
print(Tuple1)

print("type : ",type(Tuple1))

print("1st element in tuple1 :",Tuple1[0])
print(Tuple1[1])
print(Tuple1[2])

('disco', 10, 1.2)
type :  <class 'tuple'>
1st element in tuple1 : disco
10
1.2

In [8]:
print(type(Tuple1[0]))
print(type(Tuple1[1]))
print(type(Tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [10]:
Tuple1[-1] # last element

1.2

<h3 id="concate">Concatenate Tuples</h3>

In [11]:
Tuple2 = Tuple1 + ("hard rock", 10)
Tuple2

('disco', 10, 1.2, 'hard rock', 10)

### Slicing

In [14]:
# Slice from index 0 to index 2
print(Tuple2[0:3])

Tuple2[3:5]

('disco', 10, 1.2)

('hard rock', 10)

In [15]:
len(Tuple2)

5

#### Sorting

In [18]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

Rating_sorted = sorted(Ratings)
Rating_sorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

#### Nested Tuple

In [19]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [21]:
print("Element of 0 Tuple :", NestedT[0])
print("Element of 1 Tuple :", NestedT[1])
print("Element of 2 Tuple :", NestedT[2])
print("Element of 3 Tuple :", NestedT[3])
print("Element of 4 Tuple :", NestedT[4])

Element of 0 Tuple : 1
Element of 1 Tuple : 2
Element of 2 Tuple : ('pop', 'rock')
Element of 3 Tuple : (3, 4)
Element of 4 Tuple : ('disco', (1, 2))

In [23]:
print("Element in 2 , 0 of tuple",NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element in 2 , 0 of tuple pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [24]:
NestedT[2][1][0]

'r'

In [25]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [26]:
len(genres_tuple)

8

In [27]:
genres_tuple.index("disco")

7

In [28]:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]